[package]
name = "edex"
version = "0.0.1"
description = ""
authors = ["zluo01"]
license = ""
repository = "https://github.com/zluo01/edex-ui"
edition = "2021"
rust-version = "1.71"

[build-dependencies]
tauri-build = { version = "1.5.1", features = [] }

[dependencies]
serde_json = "1.0.116"
serde = { version = "1.0.200", features = ["derive"] }
tauri = { version = "1.6.2", features = [ "shell-open", "os-all"] }
tauri-plugin-store = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
tauri-plugin-log = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
reqwest = { version = "0.12.4", features = ["json"] }
tokio = { version = "1.37.0", features = ["time"] }
log = "0.4.21"
sysinfo = "0.29.11"
portable-pty = "0.8.1"

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
